@media screen and (max-width: 768px) {
  .m-t-md-2 {
    margin-top: 2em; } }

.rel-opl {
  position: relative;
  top: -90px; }

@media screen and (max-width: 767px) {
  .dam {
    display: none; } }

@media screen and (max-height: 767px) {
  .p-l-0-mobile {
    padding-left: 0px !important; } }

body, html {
  padding-top: 20px;
  background: #f9f9f9; }

.material-container {
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 30px 10px 5px 5px; }
  @media screen and (min-width: 940px) {
    .material-container {
      border-top: 4px solid #009688; } }
  @media screen and (max-width: 939px) {
    .material-container {
      box-shadow: 0 0px 0px transparent, 0 0px 0px transparent;
      padding: 20px 0px 20px 0px;
      margin-left: 0vw !important;
      margin-top: 25px; } }

.enlarge-hack-invest {
  min-height: 425px; }

.enlarge-hack-about {
  min-height: 180px; }

.description-header {
  color: #bababa; }

.description-content {
  color: #6d6d6d; }

.internal-navigation {
  height: 65px;
  background: white; }
  @media screen and (max-width: 767px) {
    .internal-navigation {
      height: 195px; } }
  .internal-navigation li a {
    color: #6d6d6d;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 12px; }

@media screen and (min-width: 768px) {
  .center-navbar-contents {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); } }

@media screen and (max-width: 767px) {
  .internal-nav-item {
    text-align: center; } }

@media screen and (min-width: 768px) {
  .internal-nav-item {
    display: inline; } }

.internal-nav-btn {
  height: 65px;
  line-height: 65px !important;
  padding-right: 16px;
  padding-left: 16px;
  color: #4c5360;
  text-decoration: none;
  padding-bottom: 21px;
  padding-top: 19px;
  border-bottom: 2px solid transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: border .2s ease-out; }

.internal-nav-btn:hover {
  border-bottom: 2px solid #4FC3F7;
  text-decoration: none;
  cursor: pointer; }

.information-introduction {
  font-size: 14px; }

@media screen and (min-width: 768px) {
  .left-side-container {
    display: inline-block;
    width: 31%;
    vertical-align: top;
    position: relative;
    left: -2%; } }

@media screen and (max-width: 767px) {
  .left-side-container {
    display: block;
    width: 100%; }
    .left-side-container * {
      text-align: center; } }

@media screen and (min-width: 768px) {
  .right-side-container {
    display: inline-block;
    vertical-align: top;
    width: 64.8%; } }

@media screen and (max-width: 767px) {
  .right-side-container {
    display: block;
    width: 100%; }
    .right-side-container .overview-header {
      text-align: center; } }

.about-content-container {
  margin-top: 15px;
  margin-left: 10px; }

.d-list-header {
  font-weight: 600;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.d-list-item {
  padding-top: 0px;
  margin-top: 0px; }

.overview-header {
  font-weight: 600; }
  @media screen and (max-width: 767px) {
    .overview-header {
      padding-bottom: 15px !important; } }

.information-overview {
  font-size: 14px; }

.meta-information {
  font-size: 12px;
  position: relative;
  left: 30px;
  color: #bababa; }

.team-item-name {
  color: #6d6d6d;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 0px; }

.team-item-title {
  color: #939393;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: 1px;
  margin-top: 0px;
  padding-top: 0px; }

.team-item-image {
  max-height: 80px; }

.team-member-information {
  padding-left: 0px; }

@media screen and (max-width: 767px) {
  .team-member-entity {
    padding-top: 10px; }
    .team-member-entity * {
      text-align: center; }
    .team-member-entity img {
      position: relative;
      left: 48%;
      transform: translateX(-48%); } }

.material-container-overview {
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 30px 10px 5px 5px; }
  @media screen and (min-width: 940px) {
    .material-container-overview {
      border-top: 4px solid #2962FF; } }
  @media screen and (max-width: 939px) {
    .material-container-overview {
      box-shadow: 0 0px 0px transparent, 0 0px 0px transparent;
      padding: 20px 0px 20px 0px;
      margin-left: 0vw !important;
      margin-top: 25px; } }

html, body {
  overflow-x: hidden; }
