.container.m-t-2
  .left-side-container
    .col-md-11.material-container-overview.p-x-2
      h5.overview-header About
      .about-content-container
        .stage-content
          p.description-header.d-list-header <i class="fa fa-line-chart" class="p-r-1" aria-hidden="true"></i> Stage
          p.description-content.d-list-item Seed
        .founded-content
          p.description-header.d-list-header <i class="fa fa-lightbulb-o" class="p-r-1" aria-hidden="true"></i> Founded
          p.description-content.d-list-item 2011
        .employees-content
          p.description-header.d-list-header <i class="fa fa-user" class="p-r-1" aria-hidden="true"></i> Employees
          p.description-content.d-list-item 4
        .type-content
          p.description-header.d-list-header <i class="fa fa-suitcase" class="p-r-1" aria-hidden="true"></i> Incorporation Type
          p.description-content.d-list-item S-Coporation
        .state-content
          p.description-header.d-list-header <i class="fa fa-map-marker" class="p-r-1" aria-hidden="true"></i> Incorporation State
          p.description-content.d-list-item Michigan
  .right-side-container
    .row
      .col-md-12.material-container-overview.p-x-2
        h5.overview-header Summary
        <style>.embed-container { position: relative; margin-top: 30px; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/63811188' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
        p.m-t-2.information-overview Lorem ipsum dolor sit amet, consectur adipscing elit. Ut congue pottitor libero, nec fringillo ligua rutrum sed. Fusce at le dome et ne to is es it nooo to much yes mir gefallt is aber mir kommt zu spat immer und manchmal kann es sein das ich aussehe wie n penner oder was ab normalerweise bin ich gut ja. 
        hr.section-divider
        p.meta-information Updated 3 days ago
    .row.m-t-3
      .col-md-12.material-container-overview.p-x-2.p-b-2
        h5.overview-header.m-b-0 Our Team
        .col-md-6.m-t-1.team-member-entity
          .col-md-4 
            img(src="img/team-image-1.jpg" class=["img-fluid", "team-item-image"] alt="a team member.")
          .col-md-8.team-member-information
            p.team-item-name John Doe
            p.team-item-title Title
        .col-md-6.m-t-1.team-member-entity
          .col-md-4
            img(src="img/team-image-1.jpg" class=["img-fluid", "team-item-image"] alt="a team member.")
          .col-md-8.team-member-information
            p.team-item-name John Doe
            p.team-item-title Title
        .col-md-6.m-t-1.team-member-entity
          .col-md-4
            img(src="img/team-image-1.jpg" class=["img-fluid", "team-item-image"] alt="a team member.")
          .col-md-8.team-member-information
            p.team-item-name John Doe
            p.team-item-title Title
        .col-md-6.m-t-1.team-member-entity
          .col-md-4
            img(src="img/team-image-1.jpg" class=["img-fluid", "team-item-image"] alt="a team member.")
          .col-md-8.team-member-information
            p.team-item-name John Doe
            p.team-item-title Title