.container
  .row.m-t-3
    .col-md-6.col-md-offset-3.text-xs-center
      img(width=128 height=128 src="img/asset-logo.png")
      h4.m-t-1 
        strong Snapchat
      h5 We help you connect with your friends through a visual and personal application.
.container
  .row.m-t-3
    .col-lg-6.p-x-2.material-container
      .fotorama
        img(src="img/asset-gallery-1.jpg")
        img(src="img/asset-gallery-2.png")
        img(src="img/asset-gallery-3.jpg")
        img(src="img/asset-gallery-4.jpg")
        img(src="img/asset-gallery-5.jpg")
        img(src="img/asset-logo.png")
    .col-lg-1
    .col-lg-5.p-x-2.material-container.m-l-3.enlarge-hack-invest
      .col-xs-6
        .amount-raised.text-xs-center
          h1.upper-data 
            strong $675K
          p.upper-info.text-muted Amount Raised
      .col-md-6
        .amount-raised.text-xs-center
          h1.upper-data 
            strong $1M
          p.upper-info.text-muted Funding Round
      .col-md-5.p-x-3.p-t-1.p-b-2
      .col-xs-12
        .progress-bar.horizontal.rounded
          .progress-track
            .progress-fill
              span 30%
      .col-md-12.p-x-2.m-t-2.p-t-3
        .col-xs-6
          .amount-raised.text-xs-center
            h3.lower-data 
              strong 5 of 9
          p.lower-info.text-muted.text-xs-center Investors
        .col-xs-6
        .amount-raised.text-xs-center
          h3.lower-data 
            strong 39
          p.lower-info.text-muted Days Left Of Round
      .col-md-12
        .col-xs-6.p-x-0.p-t-1
          .text-xs-right
            a(class=["btn", "btn-raised", "m-x-0"]) Invest Now
        .col-xs-6.p-x-0.p-t-1
          .text-xs-left
            a(class=["btn", "btn-sunken", "m-x-0"]) Remind Me
  .row.m-t-3
    .col-lg-6.p-x-2.material-container
      .description-header.text-faded.p-y-0.m-y-0
        p Executive Summary
      .description-content.p-l-1.p-y-0.m-y-0.information-introduction
        p Lorem ipsum dolor sit amet, consecutor adipiscing elit. Lorem ipsum dolor sit amet, consecutor adipiscing elit. Lorem ipsum dolor sit amet, consecutor adipiscing elit.Lorem ipsum dolor sit amet, consecutor adipiscing elit. Lorem ipsum dolor sit amet, consecutor adipiscing elit. Lorem ipsum dolor sit amet, consecutor adipiscing elit.
    .col-md-1 
    .col-lg-5.p-x-2.material-container.m-l-3.enlarge-hack-about
      .description-header.text-faded.p-y-0.m-y-0
        p About Us
      .col-xs-6.description-content
        p <i class="fa fa-suitcase m-r-1" aria-hidden="true"></i> Detroit, MI
      .col-xs-6.description-content
        p <i class="fa fa-leaf m-r-1" aria-hidden="true"></i> Founded 2014
      .col-xs-6.description-content
        p <i class="fa fa-map-marker m-r-1" aria-hidden="true"></i> Research 
      .col-xs-6.description-content
        p <i class="fa fa-users m-r-1" aria-hidden="true"></i> 5-10 Employees 
      .col-xs-12.description-content.text-xs-center
        p <i class="fa fa-link m-r-1" aria-hidden="true"></i> www.snapchat.com

.container-fluid
  .row.m-t-3.internal-navigation
    .col-lg-12
      ul.nav.navbar-nav.center-navbar-contents
        li.internal-nav-item
          a.internal-nav-btn Overview
        li.internal-nav-item
          a.internal-nav-btn Product
        li.internal-nav-item
          a.internal-nav-btn Funding
    
