.navbar-contents{
    list-style-type: none;
    margin: 0px;

    @media screen and (min-width: 768px) {
	margin-left: 40px;
	margin-right: 60px;
    }

    padding: 0px;
}

.navbar-rocket {
    width: 100vw !important;
    padding: 0px;
    height: 65px;
    border-bottom: 1px solid $palette-5;
    font-weight: 600;
    font-family: $navbar-font;
    position: relative;
}

.button-cluster {
    display: inline;
    margin-right: 0px;
    height: 65px;
    position: relative;

    @media screen and (min-width: 1258px) {
       width: 33.3333333%;
    }

    @media screen and (max-width: 1257px) and (min-width: 1099px){
	width: 50%;
    }

    @media screen and (max-width: 1100px) {
	display: none;
    }
}

.mobile-cluster {
    display: inline;
    margin-right: 0px;
    height: 65px;
    position: relative;
    width: 33%;

    @media screen and (min-width: 1100px) {
	display: none;
    }
}

.brand-cluster {
    display: inline;
    width: 33.33333333333%;
    height: 65px;
    @media screen and (max-width: 1257px) {
	img{
	  width: 0% !important;
	}

	width: 0% !important;
    }
}

.form-cluster {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    @media screen and (min-width: 1258px) {
       width: 20%;
       margin-left: 13.33333333333%;
    }

    @media screen and (max-width: 1257px) {
       margin-right: 0%;
       width: 50%;
    }

    @media screen and (max-width: 767px) {
       margin-right: 0%;
       width: 66%;
	.nav-mag-container {
	    display: none;
	}

	position: relative;
        left: -20px;
    }
}

.offset-5 {
    display: inline;
    width: (16.6666666667% * 2) + (16.6666666667 / 2);
}

.offset-3 {
    display: inline;
    width: 16.6666666667% + (16.666666667 / 2);
}

.offset-2 {
    display: inline;
    width: 16.6666666667%;
}

.offset-1 {
    display: inline;
    width: 16.6666666667% / 2;
}

.offset-5-abs {
    display: inline;
    width: 2.3 * 50px;
}

.offset-3-abs {
    display: inline;
    width: 2.3 * 30px;
}

.offset-2-abs {
    display: inline;
    width: 2.3 * 20px;
}

.offset-1-abs {
    display: inline;
    width: 2.2 * 10px;
}
