mixin mobileToggler
    button(class="navbar-mobile-toggler" href="#")
        span(class="navbar-mobile-toggler-horizontal-bar")
        span(class="navbar-mobile-toggler-horizontal-bar")
        span(class="navbar-mobile-toggler-horizontal-bar")
